<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-container">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ folder }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar> -->
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>logo</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div class="contents">
          <br><br><br>
          <br><br><br><br><br><br>
          <ion-button expand="full" routerDirection="root" routerLink="/folder2">Measure Using External Sensor and Arduino</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
